
<header th:fragment="header">
    <nav id="head" class="nav-extended">
        <div class="nav-wrapper">
            <a th:href="@{/}" class="brand-logo" style="margin-left: 20px;">L'Ancien TopAchat</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="index.php?page=products">Nos produits</a></li>
                <li><a href="/?page=account">Mon compte</a></li>
                <li><a href="index.php?page=panier">Mon panier</a></li>
                <li><a href="index.php?page=form">Contact</a></li>

            </ul>
        </div>
    </nav>
</header>
