<head>
    <meta charset="UTF-8">
    <title>Le Nouveau TopAchat</title>
    <link rel="stylesheet" href="css/main.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<header th:fragment="header">
    <nav id="head" class="nav-extended">
        <div class="nav-wrapper">
            <a th:href="@{/}" class="brand-logo" style="margin-left: 20px;">L'Ancien TopAchat</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/products">Nos produits</a></li>
                <li><a href="/account">Mon compte</a></li>
                <li><a href="/panier">Mon panier</a></li>
                <li><a href="/form">Contact</a></li>
                <li th:if="${#servletContext.getAttribute('current_user_isAdmin') == true}"><a href="/admin">Administration</a></li>

            </ul>
        </div>
    </nav>
</header>
