<!-- Dont forget to replace "IdItemHERE" with JAVA -->
<div id="cg" class="col s12" style="display: block; margin-top: 50px;">
    <div>
        <div class="row">
            <div class="col">
                <h5 class="left-align">Découvrez nos séléctions de Cartes Graphiques ! (Si elles sont encore disponibles...)</h5>
            </div>
        </div>
        <div class="row" style="margin-bottom: 100px;">
            <ul class="collapsible">
                <!-- <?php foreach($product["products"]["stockCG"] as $item): ?> -->
                <li class="active" id="IdItemHERE">
                    <div class="collapsible-header">
                        <i class="material-icons">shopping_cart</i>
                        <div class="col">
                            <label style="color: black; font-size: 16px;">TITRE PRODUIT</label>
                        </div>
                        <div class="col offset-s3">
                            <label>REF PRODUIT</label>
                        </div>
                        <div class="col offset-s1" style="margin-left:  auto; margin-right: 0;">
                            <label>3000 €</label>
                        </div>
                    </div>
                    <div class="collapsible-body">
                        <div class="row">
                            <div class="col offset-s1">
                                <img class="thumbnail" src="img/cg/3090.png" width="250" height="250"/>
                            </div>
                            <div class="col offset-s1">
                                <ul class="desc_product">
                                    DESCRIPTION DU PRODUIT
                                </ul>
                            </div>
                        </div>
                        <form name="basket" action="" method="post">
                        <div class="row"  style="margin-top: 70px; margin-left: auto; margin-right: 0;">
                            <div class="col offset-s7" style="margin-top: 25px;">
                                <label id="product_IdItemHERE_price" class="price_label" style="display: none; color: #006fac; font-size: 20px; font-weight: bold;">XX pièce(s) en stock !</label>
                            </div>
                            <div class="col" style="margin-top: 30px;">
                                <i onclick="changeQuantity('+', 'product_IdItemHERE_quantity', 'cg')" style="border: black 1px solid; border-radius: 6px; font-size: 15px;" class="material-icons">add</i>
                            </div>
                            <div class="input-field col" style="width: 100px;">
                                <input name="item_id" value="TITLE_PRODUCT" style="display: none;" />
                                <input name="item_price" value="3909999" style="display: none;" />
                                <input name="number_of_item" value="1" id="product_IdItemHERE_quantity" min="1" max="999" type="number" />
                            </div>
                            <div class="col" style="margin-top: 30px;">
                                <i onclick="changeQuantity('-', 'product_IdItemHERE_quantity', 'cg')" style="border: black 1px solid; border-radius: 6px; font-size: 15px;" class="material-icons">remove</i>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 20px;">
                            <div class="col offset-s7">
                                <a style="background-color: #006fac;" class="waves-effect waves-light btn" onclick="hideStock('IdItemHERE'); showCurrentStock('cg', 'IdItemHERE');"><i class="material-icons right">inventory_2</i>Voir le stock</a>
                            </div>
                            <div class="col">
                                <button style="background-color: #006fac;" class="btn waves-effect waves-light" type="submit" name="basket">Ajouter au panier
                                    <i class="material-icons right">add_shopping_cart</i>
                                </button>
                            </div>
                        </div>
                        </form>

                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<div id="myModal" class="modal">
    <img class="modal-content" id="img01">
    <div id="caption"></div>
</div>