<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Le Nouveau TopAchat</title>
    <link rel="stylesheet" href="css/main.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:replace="~{html/inc/header}"></div>


<div id="cg" class="col s12" style="display: block; margin-top: 50px;">
    <div>
        <div class="row">
            <div class="col">
                <h5 th:text="'Découvrez nos séléctions de ' + ${product_type} + ' (Si elles sont encore disponibles...)'" class="left-align"></h5>
            </div>
        </div>
        <div class="row" style="margin-bottom: 100px;">
            <ul class="collapsible">
                <li th:each="product : ${products}" th:id="${product.id}">
                    <div class="collapsible-header">
                        <i class="material-icons">shopping_cart</i>
                        <div class="col">
                            <label th:text="${product.title}" style="color: black; font-size: 16px;"></label>
                        </div>
                        <div class="col offset-s3">
                            <label th:text="${product.ref}"></label>
                        </div>
                        <div class="col offset-s1" style="margin-left:  auto; margin-right: 0;">
                            <label th:text="${product.price} + ' €'"></label>
                        </div>
                    </div>
                    <div class="collapsible-body">
                        <div class="row">
                            <div class="col offset-s1">
                                <img class="thumbnail" th:src="${product.imgSrc}" width="250" height="250"/>
                            </div>
                            <div class="col offset-s1 col-desc">
                                <ul class="desc_product">
                                    <li>DESCRIPTION DU PRODUIT</li>
                                    <li><p th:text="${product.desc}"></p></li>
                                </ul>
                            
                            <div class="col" style="margin-top: 25px;">
                                <label th:text="${product.stock} + 'pièce(s) en stock !'" id="product_IdItemHERE_price" class="price_label" style="color: #006fac; font-size: 20px; font-weight: bold;"></label>
                            </div>
                        <form class="form-addItem" name="basket" action="" method="post">
                        <div class="qte-selector">
                            <div>
                                <i th:attr="onclick=|changeQte('-','product_${product.id}_quantity')|" style="border: black 1px solid; border-radius: 6px; font-size: 15px;" class="material-icons">remove</i>
                            </div>
                                <div class="input-field col" style="width: 100px;">
                                <input name="item_id" th:value="${product.title}" style="display: none;" />
                                <input name="item_price" th:value="${product.price}" style="display: none;" />
                                <input name="number_of_item" value="1" class="input-qte" th:id="${'product_'+product.id+'_quantity'}" min="1" th:max="${product.stock}" type="number" />
                            </div>
                        <div>
                                <i th:attr="onclick=|changeQte('+','product_${product.id}_quantity')|" style="border: black 1px solid; border-radius: 6px; font-size: 15px;" class="material-icons">add</i>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 20px;">
                            <div class="col">
                                <button style="background-color: #006fac;" class="btn waves-effect waves-light" type="submit" name="basket">Ajouter au panier
                                    <i class="material-icons right">add_shopping_cart</i>
                                </button>
                            </div>
                        </div>
                        </form>
                    </div>
                    </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>


<div th:replace="~{html/inc/footer}"></div>
<div id="myModal" class="modal">
    <img class="modal-content" id="img01">
    <div id="caption"></div>
</div>
<script type="text/javascript" src="js/products.js"></script>
</body>
</html>