<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Le Nouveau TopAchat</title>
    <link rel="stylesheet" href="css/main.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<div th:replace="~{html/inc/header}"></div>
<div style="min-height: 950px;" th:switch="${page}">
    <div th:case="admin"><div th:replace="~{html/admin/indexAdmin}"></div></div>
    <div th:case="account"><div th:replace="~{html/user}"></div></div>
    <div th:case="*"><div th:replace="~{html/accueil}"></div></div>
</div>
<div th:replace="~{html/inc/footer}"></div>

</body>
</html>
