<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>TESTING FORM</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Result</h1>
<p th:text="'name: ' + ${form.name}" />
<p th:text="'email: ' + ${form.email}" />
<p th:text="'genre: ' + ${form.genre}" />
<p th:text="'dateNaissance: ' + ${form.dateNaissance}" />
<p th:text="'sujetMail: ' + ${form.sujetMail}" />
<p th:text="'contenuMail: ' + ${form.contenuMail}" />

<a href="/form">Submit another message</a>
</body>
</html>
