<div th:replace="~{html/index/carousel}"></div>
<hr style="width: 50%;">
<main th:fragment="accueil">
    <div class="container">
        <div class="row">
            <div class="col s4 main_page">
                <div class="col s4 m12">
                    <div class="card">
                        <div class="card-image">
                            <img src="img/cg/3090.jpg">
                            <a href="index.php?page=products1" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">search</i></a>
                        </div>
                        <div class="card-content">
                            <span class="card-title">Nos Cartes Graphiques</span>
                            <p>Découvre nos offres de cartes graphiques disponible.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s4 main_page">
                <div class="col s4 m12">
                    <div class="card">
                        <div class="card-image">
                            <img src="/img/proc/RThreadripper3960X.jpg">
                            <a href="index.php?page=products2" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">search</i></a>
                        </div>
                        <div class="card-content" style="margin-top: 20px;">
                            <span class="card-title">Nos Processeurs</span>
                            <p>Découvre nos offres de processeurs disponible.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s4 main_page">
                <div class="col s4 m12">
                    <div class="card">
                        <div class="card-image">
                            <img src="../img/ram/corsairDominatorDDR532.jpg">
                            <a href="index.php?page=products3" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">search</i></a>
                        </div>
                        <div class="card-content">
                            <span class="card-title">Nos Mémoires RAM</span>
                            <p>Découvre nos offres de mémoires RAM disponible.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
