
<div th:replace="~{html/inc/header}"></div>
<main>
    <div class="container">
        <div class="row">
            <div class="col s12">
                <p>Pour nous contacter :</p>
                <form action="#" method="post" class="form" id="contact_form" th:action="@{/form}" th:object="${form}">
                    <div class="form">
                        <label for="name">Entrer votre nom: </label>
                        <input th:field="*{name}" type="text" name="name" id="name" class="validate" required>
                        <span class="helper-text" data-error="Mauvais format ! Format : MonNom (ex: Jean)" data-success="Valide"></span>
                    </div>
                    <div class="form">
                        <label for="email">Entre votre adresse mail: </label>
                        <input th:field="*{email}" aria-required="true" type="email" name="email" id="email" class="validate" required>
                        <span class="helper-text" data-error="Mauvais format ! Format : monmail@mon_fournisseurs.nom_de_domaine" data-success="Valide"></span>
                    </div>
                    <div>
                        <p>
                            <label>
                                <input th:field="*{genre}" value="homme" name="genre" type="radio" checked />
                                <span>Homme</span>
                            </label>
                        </p>
                        <p>
                            <label>
                                <input th:field="*{genre}" value="femme" name="genre" type="radio" />
                                <span>Femme</span>
                            </label>
                        </p>
                        <p>
                            <label>
                                <input th:field="*{genre}" value="autre" name="genre" type="radio"  />
                                <span>Autre</span>
                            </label>
                        </p>
                    </div>
                    <div class="form col s2">
                        <label for="name">Date de naissance: </label>
                        <input th:field="*{dateNaissance}" class="validate" min="1940-01-01" max="2022-01-01" type="date" name="dateNaissance" id="dateNaissance"  required>
                        <span class="helper-text" data-error="Mauvais format !" data-success="Valide"></span>
                    </div>
                    <div class="col s12">
                        <div class="form">
                            <label for="name">Sujet du mail </label>
                            <input th:field="*{sujetMail}" type="text" name="sujetMail" id="sujetMail" required>
                            <span class="helper-text" data-error="Mauvais format !" data-success="Valide"></span>
                        </div>
                        <div class="form">
                            <label for="name">Votre message :</label>
                            <input th:field="*{contenuMail}" type="text" name="contenuMail" id="contenuMail" required>
                            <span class="helper-text" data-error="Mauvais format !" data-success="Valide"></span>
                        </div>
                        <div class="col form offset-s5" style="padding: 0 !important; margin-top: 20px;">
                            <button class="btn waves-effect waves-light" type="submit" name="action">Envoyer
                                <i class="material-icons right">send</i>
                            </button>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

<div th:replace="~{html/inc/footer}"></div>

