<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Mon Panier</title>
    <link rel="stylesheet" href="css/main.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
    <body>
        <div th:replace="~{html/inc/header}"></div>
            <div class="container">
                <div class="row">
                    <div class="col s12">
                        <h3>Mon panier</h3>
                        <hr>  
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <table class="striped highlight centered responsive-table">
                            <thead>
                            <tr>
                                <th>Ref</th>
                                <th>Nom</th>
                                <th>Qte</th>
                                <th>Prix</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                    
                            <tbody>
                            <tr>
                                <td>Ref</td>
                                <td>PRODUIT</td>
                                <td>1</td>
                                <td><b>1000</b>€</td>
                                <td><a class="btn" style="background-color: #006fac;"><i class="material-icons">delete</i></a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <p>Total :<b>0</b>€</p>
                        <br><hr>
                        <div class="btn-cart">
                            <a class="btn" style="background-color: #006fac;">Vider le panier</a>
                            <a class="btn" style="background-color: #006fac;">Commander !</a>
                        </div>
                    </div>
                </div>
            </div>
        <div th:replace="~{html/inc/footer}"></div>
    </body>
</html>