<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Le Nouveau TopAchat</title>
    <link rel="stylesheet" href="css/main.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:replace="~{html/inc/header}"></div>
<div th:if="${!#servletContext.getAttribute('user_logged')}">
<div class="container" id="login_form" style="">
    <form action="#" method="post" class="form" th:action="@{/login}">
        <div class="row center-align" id="user_box_1">
            <div class="col" id="user_box_2">
                <div style="border-bottom: black 1px solid; padding: 10px;">
                    <h5>ESPACE UTILISATEUR</h5>
                </div>
                <div class="row">
                    <div class="input-field col s12" style=" padding: 10px;">
                        <input name="login_mail" id="login_mail" type="email" class="validate">
                        <label for="login_mail">Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12" style=" padding: 10px;">
                        <input name="login_passwd" id="login_passwd" type="password" class="validate">
                        <label for="login_passwd">Password</label>
                    </div>
                </div>
                <div th:if="${#servletContext.getAttribute('error') != null}" class="row" >
                    <p th:text="${#servletContext.getAttribute('error')}" style="color: red;"></p>
                </div>
                <div class="row" style="border-bottom: black 1px solid; padding: 10px 10px 20px;">
                    <div class="col offset-s2" style="padding: 0 !important;">
                        <button style="background-color: #006fac;" class="btn waves-effect waves-light" name="login">Se connecter
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 10px; ">
                    <div class="col" style="padding: 0 !important;">
                        <label style="display: block; margin-left: 40px;">Pas encore de compte ? Crée en un ici.</label>
                    </div>
                </div>
                <div class="row" style="padding: 10px;">
                    <div class="col offset-s5" style="padding: 0 !important;">
                        <a  style="background-color: #006fac; " class="btn-floating waves-effect waves-light"><i class="material-icons" onclick="register()">person_add_alt</i></a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


<div class="container" id="register_form" style="display: none;">
    <form action="#" method="post" class="form" id="register_forms" th:action="@{/register}" th:object="${user_register}">
    <div class="row center-align" id="user_box_1">
        <div class="col" id="user_box_2">
            <div style="border-bottom: black 1px solid; padding: 10px;">
                <h5>ESPACE UTILISATEUR</h5>
            </div>
            <div class="row">
                <div class="input-field col s12" style=" padding: 10px;">
                    <input th:field="*{name}" id="name" name="name" type="text" class="validate">
                    <label for="name">Nom</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12" style=" padding: 10px;">
                    <input th:field="*{mail}" id="email" name="email_register" type="email" class="validate">
                    <label for="email">Email</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12" style=" padding: 10px;">
                    <input th:field="*{password}" name="register_pwd" type="password" class="validate">
                    <label for="register_pwd">Mot de passe</label>
                </div>
            </div>
            <div th:if="${#servletContext.getAttribute('error') != null}" class="row" >
                <p th:text="${#servletContext.getAttribute('error')}" style="color: red;"></p>
            </div>
            <div class="row" style="border-bottom: black 1px solid; padding: 10px 10px 20px;">
                <div class="col offset-s2" style="padding: 0 !important;">
                    <button style="background-color: #006fac;" class="btn waves-effect waves-light" onclick="register();" name="action">S'ENREGISTRER
                        <i class="material-icons right">person_add_alt</i>
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col offset-s2" style="padding: 0 !important;">
                    <button type="button" style="background-color: #006fac;" class="btn waves-effect waves-light" onclick="showConnectionForm()">SE CONNECTER
                        <i class="material-icons left">arrow_back</i>
                    </button>
                </div>
            </div>
        </div>
    </div>
        </form>
</div>
</div>
<div th:if="${#servletContext.getAttribute('user_logged')}" class="container" id="user_details" style="padding: 10px; margin-top: 100px; margin-bottom: 150px; display: block;">
        <div class="row center-align">
            <div class="col">
                <div style="border-bottom: black 1px solid; padding: 10px;">
                    <h5>ESPACE UTILISATEUR</h5>
                </div>
            </div>
        </div>
        <div class="row center-align">
            <div class="col">
                <div style="padding: 10px;">
                    <h6 th:text="'Mon adresse email : ' + ${#servletContext.getAttribute('logged_in_user').mail}"></h6>
                </div>
            </div>
        </div>
        <div class="row center-align">
            <div class="col">
                <div style="padding: 10px;">
                    <h6>Ma dernière commande :</h6>
                </div>
            </div>
            <div class="col">
                <div style="padding: 6px;">
                    <p th:text="'Commande ID : ' + ${#servletContext.getAttribute('last_command')}" style="color: #006fac;"></p>
                </div>
            </div>
        </div>
    <div class="row center-align">
        <div class="col">
            <form action="/" method="post" th:action="@{/logout}">
                <input  type="hidden" name="log_out">

            <button style="background-color: #006fac;" class="btn waves-effect waves-light" type="submit" name="action">SE DÉCONNECTER
                <i class="material-icons right">logout</i>
            </button>
            <a href="/admin" class="btn" style="background-color: #006fac;">ADMINISTRATION
                    <i class="material-icons right">verified_user</i>
            </a>
            </form>
        </div>
    </div>
    </div>

<div th:replace="~{html/inc/footer}"></div>
<script type="text/javascript" src="js/user.js"></script>
</body>
</html>
