<aside id="sidebar">
  <div class="aside-top">
                <span>
                    <b>Administration</b>
                </span>
  </div>
  <div class="aside-menu">
    <ul class="menu-list">
      <li class="menu-element"><a href="/admin">Accueil</a></li>
    </ul>
    <h3 class="menu-label">Produits</h3>
    <ul class="menu-list">
      <li class="menu-element"><a href="/addProduct">Ajouter un produit</a></li>
      <li class="menu-element"><a href="/modifProduct">Modifier/Supprimer un produit</a></li>
    </ul>

    <h3 class="menu-label">Support</h3>
    <ul class="menu-list">
      <li class="menu-element"><a href="/support">Consulter les messages</a></li>
    </ul>

    <h3 class="menu-label">Commandes</h3>
    <ul class="menu-list">
      <li class="menu-element"><a href="/commands">Liste des commandes</a></li>
    </ul>
  </div>
</aside>